/* Remove the default margin and padding from the body. */

body {
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    height: 400px;
    /* Adjust the height as needed */
}

#hotel-ranking {
    width: 80%;
    height: 400px;
    /* Adjust the height as needed */
}

#price-change {
    width: 100%;
    height: 400px;
    /* Adjust the height as needed */
}