<!DOCTYPE html>
<html>
<head>
    <title>Points of Interest</title>
</head>
<body>
    <h1>Points of Interest</h1>
    <table>
        <tr>
            <th>City</th>
            <th>Category</th>
            <th>Name</th>
            <th>Tags</th>
            <th>Rank</th>
        </tr>
        {% for poi in points_of_interest %}
        <tr>
            <td>{{ poi['name'] }}</td>
            <td>{{ poi['category'] }}</td>
            <td>{{ poi['name'] }}</td>
            <td>{{ poi['tags']|join(', ') }}</td>
            <td>{{ poi['rank'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>


